
.title h1{
    font-weight: inherit;
    font-size: inherit;
    font-weight: 500;
    font-size: 36px;
    margin-top: inherit;
}
.title{
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.title p{
    font-size: 15px;
}
.title p span{
background-color: black;
color: white;
padding: 0px 10px;
}
